<!DOCTYPE html>
<html>
    <head>
        <title>UniCourses</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="../scripts/main.js" defer></script>
        <script src="../scripts/reviews.js" defer></script>
        <link rel="stylesheet" href="../style/stylesheet.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <div class="topnav">
            <a id="help_btn" href="../index.html">Home</a>
            <a id="help_btn" href="search.html">Back to course list </a>
            <a id="login_btn" href="user.html">Log In | Sign up</a>
        </div>

        <div class="content">
            <h1>UniCourses</h1>
            <p>Course reviews for the course:</p>
            <h3 id="name_course_review_list"></h3>
            <form id="make_review_btn">
                <a href="make_review.html">
                    <button type="button">Write new review</button>
                </a>
            </form>
            <div class="review" id="review_container"></div>
        </div>
        <div class="footer">
            <table id="table1">
                <tr>
                    <th><div class="flex-items"><img src="../icons/icons8-home-page-50.png" width="40px"></div></th>
                    <th><div class="flex-items"><img src="../icons/icons8-search-50.png" width="40px"></div></th>
                    <th><div class="flex-items"><img src="../icons/icons8-papers-64.png" width="40px"></div></th>
                </tr>
                <tr>
                    <th><div class="flex-items">Choose university</div></th>
                    <th><div class="flex-items">Find your <br> courses</div></th>
                    <th><div class="flex-items">Read and write <br> reviews</div></th>
                </tr>
        </div>
    </body>
</html>